{% extends 'recettes/_base.html' %}
{% block titre %}Se Connecter{% endblock %}

{% block contenu %}

    <!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">

					<!-- content -->
					<div id="content">

						<!-- title -->
						<div id="page-title">
							<span class="title">Authentification</span>
							<span class="subtitle">Devenez membre pour profiter de nos recettes.</span>
						</div>
						<!-- ENDS title -->

						<!-- column (left)-->
						<div class="one-column">
							<!-- form -->
							<h2>Se Connecter</h2>
							<form id="authForm" action="/auth/" method="post">{% csrf_token %}
								<fieldset>
									<div class="form-group">
										<label>Nom d'utilisateur</label>
										<input name="username" class="form-control" id="username" type="text" title="Entrer votre nom d'utilisateur" />
									</div>
									<div class="form-group">
										<label>Mot de passe</label>
										<input name="password" class="form-control"  id="password" type="password" title="Entrer votre mot de passe" />
									</div>

									<p><input type="submit" value="Connexion" name="submit" id="submit" class="btn btn-default"/></p>
								</fieldset>
                                {%  if form.errors %}
                                    <p id="error" class="warning">Désolé, mais les données utilisateur sont incorrect !</p>
                                {%  endif %}
							</form>
							<!-- ENDS form -->
						</div>
						<!-- ENDS column -->

						<!-- column (right)-->
						<div class="one-column">
							<!-- form -->
							<h2>S'enregister</h2>
							<form id="registerForm" action="/register/" method="post">{% csrf_token %}
								<fieldset>
									<div>
										<label>Name</label>
										<input name="name"  id="name" type="text" class="form-poshytip" title="Enter your full name" />
									</div>
									<div>
										<label>Email</label>
										<input name="email"  id="email" type="text" class="form-poshytip" title="Enter your email address" />
									</div>

									<p><input type="submit" value="Créer Compte" name="submit" id="submit" /></p>
								</fieldset>
								<p id="error" class="warning">Message</p>
							</form>
							<!-- ENDS form -->
						</div>
						<!-- ENDS column -->

					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->

{% endblock %}


