{% extends 'recettes/_base.html' %}
{% block titre %}Se Connecter{% endblock %}

{% block contenu %}

    <!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">

					<!-- content -->
					<div id="content">

						<!-- title -->
						<div id="page-title">
							<span class="title">Authentification</span>
							<span class="subtitle">Devenez membre pour profiter de nos recettes.</span>
						</div>
						<!-- ENDS title -->

						<!-- column (left)-->
						<div class="one-column">
							<!-- form -->
                            {% if form.errors %}
                                <div class="one-half">
                                    <p class="error-box">Le formulaire est invalide, réessayez !</p>
                                </div>
                            {% endif %}
							<h2>Créer un Compte</h2>

							<form method="post" class="form" action="">

                                {% csrf_token %}

                                <fieldset>

                                    {{ form.as_p }}

									<p>
                                        <input type="submit" class="btn btn-primary" value="Créer Compte" />
                                    </p>
								</fieldset>
                            </form>
							<!-- ENDS form -->
						</div>
						<!-- ENDS column -->



					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->

{% endblock %}


